body {
    height: 100%;
    background-color: whitesmoke
}

.flex-fill {
    flex: 1;
}

.sticky-top {
    top: 1em
}

.shopping-cart-add > i.material-icons {
    position: relative;
    top: 3px;
}

.price-range-delete > i.material-icons {
    position: relative;
    top: 3px;
}