<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: head('Assigned orders')">
    <meta charset="UTF-8">
    <title>Assigned orders</title>
</head>
<body>
<nav th:replace="fragments/layout :: navbar(~{ :: .mr-auto}, ~{ :: .ml-auto})">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/orders}">Assigned orders</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item" th:each="order: ${orders}">
            <div class="d-flex w-100 justify-content-between">
                <a th:href="@{/orders/__${order.id}__}"><h5 class="mb-1" th:text="'Order #'+${order.id}">Order
                    #1234</h5></a>
                <small th:text="${#dates.format(order.getDate(), 'HH:mm, dd/MM/yyyy')}">16:34, 01/01/2021</small>
            </div>
            <p class="mb-1"></p>
            <select class="custom-select">
                <option th:each="status : ${T(com.bada.app.models.Order.Status).values()}"
                        th:text="${status}" th:value="${status}" th:selected="${status == order.status}">RECEVIED
                </option>
            </select>
        </li>
    </ul>
</div>
</body>
</html>