<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head('Store')">
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}"/>
</head>
<body>
<nav th:replace="fragments/layout :: navbar(~{ :: #navbarRight}, ~{ :: #navbarLeft})">
    <ul class="navbar-nav mr-auto" id="navbarRight">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/store}">Store</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto" id="navbarLeft">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>

<div class="container-fluid d-flex flex-column">
    <div class="row flex-grow-1 d-flex justify-content-center px-2 py-3">
        <div class="col-sm-9 px-2">
            <div class="card bg-white p-3">
                <div class="list-group-flush">
                    <a href="#" th:href="@{/store/item/__${item?.id}__}"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                       th:each="item : ${items}">
                        <div class="mr-auto">
                            <div>
                                <p class="font-weight-normal m-0" th:text="${item?.name}">Rezystroy 10k</p>
                                <small class="text-muted" th:text="${item?.id}">ID: 12345</small>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mr-2">
                            <p class="m-0" th:text="|$${item?.priceRanges.get(0).price}|">
                                $10
                            </p>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <div class="col-sm-3 px-2">
            <div class="card sticky-top">
                <div class="card-body">
                    <h5 class="card-title">Shopping Cart</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Total Cost: $5</h6>
                    <ul class="list-group list-group-flush mb-2">
                        <li class="list-group-item px-0">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <p class="font-weight-normal m-0 mr-auto">
                                    <a class="text-reset">Rezystroy 10k</a>
                                </p>
                                <p class="m-0">4 &times; $5</p>
                            </div>
                            <div class="d-flex w-100 justify-content-between">

                            </div>
                        </li>
                    </ul>
                    <a href="#" th:href="@{/store/checkout}" class="card-link">Checkout</a>
                    <a href="#" class="card-link">Clear</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>