<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head('Assigned orders')">
    <meta charset="UTF-8">
    <title>Assigned orders</title>
</head>
<body>
<nav th:replace="fragments/layout :: navbar(~{ :: .mr-auto}, ~{ :: .ml-auto})">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link active" th:href="@{__${path}__/home}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{__${path}__/store}">Store</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" th:href="@{__${path}__/logout}">Logout</a>
        </li>
    </ul>
</nav>
<div class="container">
    <ul class="list-group accordion m-3" id="orderAccordion">
        <li class="list-group-item">
            <h4>Managed warehouses</h4>
        </li>
        <li class="list-group-item" th:each="warehouse, i: ${warehouses}">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div>
                    <h5 th:text="${warehouse.name}">Warehouse 1</h5>
                    <small class="text-muted" data-toggle="collapse" data-target="#orderItems"
                           aria-expanded="false" aria-controls="collapseExample" type="button"
                           th:attr="data-target='#warehouse'+${i.index}">
                        Click to expand/collapse
                    </small>
                </div>
                <div class="form-group">
                    <span th:if="${warehouse.isRetail}">Retail</span>
                    <span th:unless="${warehouse.isRetail}">Warehouse</span>
                </div>
            </div>
            <div class="collapse" th:id="'warehouse' + ${i.index}" data-parent="#orderAccordion">
                <ul class="list-group mt-3">
                    <li class="list-group-item" th:each="employee: ${warehouse.employees}">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <div>

                                <p class="font-weight-normal m-0"
                                   th:text="${employee.displayName}">Rezystroy 10k</p>
                                <small class="text-muted" th:text="|ID: ${employee.id}|">ID: 12345</small>
                            </div>
                            <div>
                                Order count:&nbsp;<span th:text="${employee.getNotCompletedOrders().size()}">10</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 140px;" id="saveSuccess">
    <div class="toast" style="position: absolute; top: 0; right: 0;">
        <div class="toast-body">
            Saved successfully
        </div>
    </div>
</div>
</body>
</html>